.testing{
    height: 100vh;
    background-color: #101927;
}
.switchContainer::-webkit-scrollbar {
    width: 6px;  
}
  
.switchContainer::-webkit-scrollbar-thumb {
    background-color: #888;  
    border-radius: 4px; 
}