.headerCont{
    color: white;
}

.cursor{
    cursor: pointer;
}

.btnList{
    font-size: 25px;
    cursor: pointer;
    border: 3px solid #5535e4;
    color: #5535e4;
    transition: all ease 0.5s;
}

.btnList:hover{
    color: white;
    background-color:  #5535e4;
    transition: all ease 0.5s;
    transform: scale(1.1);
}

@media screen and (max-width: 415px) {
    .btnList{
        font-size: 17px;
        text-align: center;
    }
}